$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Lato', sans-serif;

$default-font-size: 14px;
$bold: 700;
$regular: 400;

$white: #fff;
$main-color: #8D81AC;
$secondary-color: #635C73;

$text-color-dark: #323232;
$text-color-grey: #848E97;
$text-color-purple: #A291A5;


